<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Title and Description -->
<title>
  {{- if .IsHome -}}
    {{ .Site.Title }} - {{ .Site.Params.tagline }}
  {{- else -}}
    {{ .Title }} | {{ .Site.Title }}
  {{- end -}}
</title>

{{- $description := "" -}}
{{- if .Params.description -}}
  {{- $description = .Params.description -}}
{{- else if .IsHome -}}
  {{- $description = .Site.Params.tagline -}}
{{- else -}}
  {{- $description = .Site.Params.tagline -}}
{{- end -}}

<meta name="description" content="{{ $description }}">

<!-- Favicon -->
<link rel="icon" href="/favicon.svg" />

<!-- RSS Feed -->
<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} RSS Feed" href="{{ "/index.xml" | absURL }}">
{{- if eq .Type "blog" -}}
<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} Blog RSS" href="{{ "/blog/index.xml" | absURL }}">
{{- end -}}

<!-- Open Graph / Facebook -->
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
{{- if .Params.image -}}
<meta property="og:image" content="{{ .Params.image | absURL }}">
{{- else -}}
<meta property="og:image" content="{{ "/logo.svg" | absURL }}">
{{- end -}}
{{- if .IsPage -}}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
<meta property="article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
{{- end -}}

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@YTATools">
<meta name="twitter:creator" content="@YTATools">
<meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}">
<meta name="twitter:description" content="{{ $description }}">
{{- if .Params.image -}}
<meta name="twitter:image" content="{{ .Params.image | absURL }}">
{{- else -}}
<meta name="twitter:image" content="{{ "/logo.svg" | absURL }}">
{{- end -}}
{{ $css := resources.Get "css/main.css" | css.PostCSS | resources.Minify |
resources.Fingerprint }}
<link
  rel="stylesheet"
  href="{{ $css.RelPermalink }}"
  integrity="{{ $css.Data.Integrity }}"
/>
